{% extends "base.html.twig" %}

{% block title %}Vyber hráče{% endblock %}

{% block body %}

    <h1>Výběr hráče</h1>

    <table class="table">
        <tr>
            <th>Jméno</th>
            <th>Akce</th>
        </tr>
        <tr>
            <td>Michal</td>
            <td><a class="btn btn-primary btn-sm" href="">Vybrat</a></td>
        </tr>
    </table>

{% endblock %}